<div class="dashboard-container">
    <div class="flex-container shadow-box" #flexBox
         (dragstart)="start($event, flexBox)"
         (drop)="handleDrop($event)"
         (dragend)="end($event)"
         (drag)="onDrag($event)"
         draggable="true"
         type="container"
    >flex-container
    </div>
    <div class="drop-box shadow-box" #dropBox
         (drop)="handleDrop($event)"
         (dragover)="setDropBoxForHTML($event, dropBox)"
         (dragleave)="checkForDrop($event)"
    ></div>
</div>
